# Tuplas

**Tuplas** são coleções **ordenadas** de elementos, isto é, seus elementos são indexados (i=0, 1, 2, 3, ...), como ocorre em **strings** e **listas**. A diferença é que os delimitadores das tuplas são os parênteses e as tuplas são inalteráveis, ou seja, os elementos de uma tupla não podem ser alterados como nas listas.

### Criando uma tupla

In [ ]:
# Listas são sequências de elementos delimitadas por colchetes 

L = [0,1,2,3,4]
L1 = [10]
L0 = []

print(L,L1,L0)

[0, 1, 2, 3, 4] [10] []

In [ ]:
# Tuplas 

t = (0,1,2,3,4)             # isso é uma tupla
print(t)

t1a = ('abc')               # isso é uma string
t1b = (10)                  # isso é um inteiro
t1  = (10,)                 # isso é uma tupla. É necessário colocar ao menos uma vírgula para se criar uma tupla. Nesse exemplo é uma tupla de um único elemento.

print(t, type(t))
print(t1a, type(t1a))
print(t1b, type(t1b))
print(t1, type(t1))

(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4) <class 'tuple'>
abc <class 'str'>
10 <class 'int'>
(10,) <class 'tuple'>

In [ ]:
# Para criar a tupla vazia existem duas maneiras:

t0a = ()              # tupla vazia de forma direta (não é necessário colocar parenteses)
t0b = tuple()         # tupla vazia pela função tuple()

print(t0a,type(t0a))
print(t0b, type(t0b))

() <class 'tuple'>
() <class 'tuple'>

### Função Tuple

In [ ]:
x = int(10.3)                # função int() converte o argumento para a classe inteira 
print(x, type(x))
print()

x = str(123.456e-8)          # função str() converte o argumento para a classe string
print(x, type(x))
print()

x = list('abcd')              # função list() converte o argumento para a classe lista
print(x, type(x))
print()

x = tuple([0,1,2,3])          # a variável "x" corresponde a tupla (0,1,2,3), portanto foi feito a conversão de lista para tupla  
print(x, type(x))
print()

x = tuple('xyzw')             # a variável "x" corresponde a tupla (x,y,z,w), portanto feita a conversão de lista referente a string para tupla 
print(x,type(x))
print()

#x = tuple(10)                 # como o objeto da função tupla não é de coleção, tal como uma lista, então a função não irá aceitar o objeto e irá gerar um erro! 
#print(x, type(x))
#print()

10 <class 'int'>

1.23456e-06 <class 'str'>

['a', 'b', 'c', 'd'] <class 'list'>

(0, 1, 2, 3) <class 'tuple'>

('x', 'y', 'z', 'w') <class 'tuple'>

### Acessando os elementos de um tupla

In [ ]:
t = (0,1,2,3,4,5,6,7,8,9)               # O acesso dos elementos da tupla é similar ao acesso dos elementos de uma string ou uma lista.

print(t[2])
print(t[-1])                # acessa o último elemento da tupla
print(t[-2])                # acessa o penúltimo elemento da tupla
print(t[-3])                # acessa o antepenúltimo elemento da tupla

2
9
8
7

### Fatiamento de tuplas

In [ ]:
t = (0,1,2,3,4,5,6,7,8,9)        # O fatiamento de tuplas é similar ao de listas.
#   (0,1,2,|3,4,5,6,|7,8,9)


print(t[3:7])
print(t[:7])              
print(t[3:])                    # fatiamento da tupla partindo do terceiro elemento até o último.

print(t[3:-3])                  # fatiamento da tupla partindo do elemento 3 até o antepenúltimo elemento.

### Aninhamento de tuplas e/ou listas

In [ ]:
vogais = tuple('aeiou')
consoantes = tuple('bcdfghjklmnpqrstvxwz')
letras = (vogais, consoantes)

print(vogais, consoantes)     # Tupla engloba a tupla vogais junto com a tupla consoantes.
print(letras)                 # Tupla engloba a tupla letras
print()

print(letras[0])              # imprime a primeira tupla da tupla letras
print(letras[1])              # imprime a segunda tupla da tupla letras
print()

print(letras[0][2])           # imprime o terceiro elemento da primeira tupla que aparece na tupla letras.
print(letras[1][10])          # imprime o elemento 11 da segunda tupla que aparece na tupla letras.

('a', 'e', 'i', 'o', 'u') ('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z')
(('a', 'e', 'i', 'o', 'u'), ('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z'))

('a', 'e', 'i', 'o', 'u')
('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z')

i
n

### Extração alternada de elementos de uma tupla

In [ ]:
t = (0,1,2,3,4,5,6,7,8,9)     

print(t[0: :2])
print(t[1: :2])

(0, 2, 4, 6, 8)
(1, 3, 5, 7, 9)

In [ ]:
t = (1,2,(3,(4,5,(6,7,8)),9),10)
#    0    1  2    3   (niveis)

print(t[2])
print()

print(t[2][1][2])
print()

print(t[2][1][2][1])
print()

(3, (4, 5, (6, 7, 8)), 9)

(6, 7, 8)

7

### Operação de concatenação de tuplas

Junta os elementos de uma tupla com os elementos de outra tupla formando uma única tupla.

In [ ]:
# Exemplo 1

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla3 = tupla1 + tupla2      # operação de concatenação


print(tupla1,tupla2)
print(tupla3)
print()

(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
# Exemplo 2

cores = ('preto','marrom','vermelho','laranja','verde','azul','violeta')
print(cores)

cores2 = cores[-2:] + ('branco',) + cores[0:2]          # obs: para um único elemento em uma tupla deve-se inserir a vírgula
print(cores2)

('preto', 'marrom', 'vermelho', 'laranja', 'verde', 'azul', 'violeta')
('azul', 'violeta', 'branco', 'preto', 'marrom')

### Replicações de Tuplas

O operador * repeti uma tupla um determinado número de vezes conforme definimos.

In [ ]:
t = (0,1)
t2 = 10*t      # repeti 10 vezes a tupla t e armazena na variável t2

print(t)
print(t2)

(0, 1)
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

### Operação de Associação

A operação de associação com tuplas retorna "True" ou "False"

* *in*
* *not in*

In [2]:
t = (1,2,3)
j = [1,2,3]

print(2 in j)       # como 2 pertence a lista j retorna True
print(3 in t)       # como 3 pertence a tupla t retorna True
print(5 in t)       # como 5 não pertence a tupla t retorna False
print()

print(5 not in t)    # retorna true pois a tupla não contém o elemento 5 
print(2 not in t)    # retorna false pois a tupla contém o elemento 2

True
True
False

True
False

### Comparação de Tuplas

In [ ]:
# Comparação de Strings


stra = 'Carta'
strb = 'Barco'
strc = 'Carla'

print(stra == strb)         # retorna false pois as string são diferentes
print(stra != strb)         # retorna true pois as strings são diferentes
print()

print(stra < strb)          # como o primeiro índice da string stra é maior do que o da string strb (olhar a tabela unicode para ver isso!), então irá retornar False
print(stra > strb)          # True, pois o primeiro caracter de stra sucede o primeiro caracter de strb na tabela unicode

False
True

False
True

In [ ]:
# Comparaçã entre Tuplas

t = (1,2,3)
u = (4,5,6)

# igualdade/ diferença
print( t == u)             # retorna False, pois as tuplas não são iguais
print( t != u)             # retorna True, pois as tuplas são diferentes
print()

# <, <=
print(t < u)                # primeiro elemento da tupla t é menor que o primeiro elemento da tupla u, portanto retorna True
print(t <= u)               # primeiro elemento da tupla t é menor ou igual ao primeiro elemento da tupla u, portanto retorna True
print(u < t)                # primeiro elemento da tupla u não é maior que o primeiro elemento da tupla t, portanto retorna False

# >, #
print(t > u)                # primeiro elemento da tupla t é menor que o primeiro elemento da tupla u, portanto retorna False
print(t >= u)

False
True

True
True
False
False
False

### Métodos de Tuplas

A classe tuple possue únicamente apenas dois métodos.

In [ ]:
# t.count(x)
# retorna o número de ocorrências do elemento x em t

t = 3*tuple('abcdefg')
print(t)
print(t.count('a'))        # retorna o número de vezes que o carácter 'a' aparece na tupla t
print()

print(t.count('z'))        # retorna zero, pois o número de vezes que o caracter 'z' aparece é zero

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g')
3

0

In [ ]:
# t.index(x)
# t.index(x,start,end)              # start corresponde ao índie do início da busca e end o índice final da busca na tupla.  
# retorna o índice da primeira ocorrência do elemento x na tupla t

t = 3*tuple('abcdefg')
print(t.index('b'))
print(t.index('b',4))               # 4 representa o elemento inicial de busca na tupla t.
print(t.index('z'))                 # gera uma exceção, pois z não existe em t

1
8

### Tuplas são Imutáveis

In [ ]:
# Função id(x)
a = 10
print(a,id(a))       # endereço que identifica a variável "a" quando passamos a = 10 
a = 1000
print(a,id(a))       # endereço que identifica a variável "a" quando passamos um novo valor para a como sendo 1000. Novo endereço!

10 94093818587936
1000 140291231667312

In [ ]:
# Exemplo 1

L = [0,1,2,3,4]
print(L,id(L))                                  # endereço da lista L
print(id(L[0]),id(L[1]),id(L[2]),id(L[3]))      # endereços da memória dos elementos da lista L 


L[2] = 20                                       # muda-se o elemento 2 da lista para o valor 20 
print(L,id(L))                                  # endereço da lista L permanece o mesmo
print(id(L[0]),id(L[1]),id(L[2]),id(L[3]))      # com a nova operação L[2] = 20 alteramos somente o endereço desse elemento da lista  
print(L)

[0, 1, 2, 3, 4] 140291231504496
94093818587616 94093818587648 94093818587680 94093818587712
[0, 1, 20, 3, 4] 140291231504496
94093818587616 94093818587648 94093818588256 94093818587712
[0, 1, 20, 3, 4]

In [ ]:
# Exemplo 2
L = (0,1,2,3,4)
print(L)

L[2] = 20               # não é permitido mudar o elemento 2 da tupla para o valor 20! Gera uma exceção  
print(L)

(0, 1, 2, 3, 4)

TypeError: ignored

In [ ]:
# Exemplo 3:

x = 2
lista = [0,1,x,3,4]                                   # passa para o elemento 2 da lista o valor armazenado na variável x.
print(x, id(x))
print(lista, id(lista), id(lista[2]))                 # mostra o endereço da lista, assim como do elemento 2 da lista

print()

x = 20                                                 # altera o endereço da variável x quando atribuímos outro valor para x 
print(x, id(x))                                        # novo endereço da variável x
print(lista, id(lista), id(lista[2]))                  # observe que o endereço do elemento 2 da lista não foi alterado quando alteramos a variável x -> por essa razão não houve modificação do elmeneto 2 lista
print()

2 94093818587680
[0, 1, 2, 3, 4] 140291231305808 94093818587680

20 94093818588256
[0, 1, 2, 3, 4] 140291231305808 94093818587680

In [ ]:
# Exemplo 4

lista = [3,4,5]
t = (0,2,3,lista,6,7,8)
print(lista, id(lista))
print(t, id(t[3]), id(t[3][1]) )
print()


t[3][1] = 4000
print(lista, id(lista))
print(t, id(t[3]), id(t[3][1]) )  # Pode-se ver que o endereço do elemento 1 da lista pertencente a tupla foi mudado quando colocamos t[3][1] = 4000. O resto permanece igual.
print()

[3, 4, 5] 140291231501120
(0, 2, 3, [3, 4, 5], 6, 7, 8) 140291231501120 94093818587744

[3, 4000, 5] 140291231501120
(0, 2, 3, [3, 4000, 5], 6, 7, 8) 140291231501120 140291232533232

## Omissão de parêntesis e desempacotamento de tuplas

In [ ]:
# omissão de parêntesis é aceitável em certas situações 

a = 1,2               # identifica como uma tupla, mas com omissão de parêntesis
print(a, type(a))     # entende como uma tupla
print()

b = 1,                # identifica como uma tupla
print(b, type(b))
print()

c = 1,2,3,4
print(c, type(c))

(1, 2) <class 'tuple'>

(1,) <class 'tuple'>

(1, 2, 3, 4) <class 'tuple'>

In [ ]:
# omissão de parêntesis em funções 

def f(x):
  #return (x,x**2,x**3,x**4)
  return x, x**2, x**3, x**4

x = 3
y = f(x)
print(y,type(y))

(3, 9, 27, 81) <class 'tuple'>

In [ ]:
# Operações de desempacotamentos de tuplas

a = 1,2
(b,c) = (1,2)  # quando do lado direito temos uma tupla e do lado esquerdo tempo uma tupla com indificadores com variáveis, o python vai atribuir o primeiro identificar referenciando o primeiro elemento e o segundo identificador referenciado o segundo elemento
print(b,c)
print()

(x,y) = 1,2
print(x,y)
print()

z,w = 1,2       # Obs: é necessário ter o mesmo número de elementos!
print(z,w)

1 2

1 2

1 2

In [ ]:
# Desempacotamento

coord = ((1,2),(1,7),(-2,5),(-3,8),(-1,9))

for elemento in coord:
  print(elemento)

print()


for x,y in coord:
  print('x = ',x,', y = ',y)

(1, 2)
(1, 7)
(-2, 5)
(-3, 8)
(-1, 9)

x =  1 , y =  2
x =  1 , y =  7
x =  -2 , y =  5
x =  -3 , y =  8
x =  -1 , y =  9

In [3]:
# del
# deletando todos os elementos de uma tupla, essa tupla deixa de existir 

(a,b) = 1,2
del (a,b)

(c,d) = 1,2
del c,d

### Número de elementos de uma tupla

In [ ]:
t = (0,1,2,3,4)
print(len(t))

print(len(tuple()))           # obtém o número de elementos de uma tupla

5
0