# Listas

Listas são *coleções de objetos*. Todos os objetos dentro de uma lista são indexados a partir do 0 (0, 1, 2, 3, etc) e, por isto, se diz que listas *são coleções "ordenadas"* de objetos. Nesta videoaula veremos que uma lista pode conter objetos de diferentes tipos/classes (int, float, complex, str), incluindo outras listas. Entretanto, é uma boa prática de programação restringir o uso de listas para coleções de objetos de um mesmo tipo (não gera um erro, mas restringe o tempo do processamento computacional).

## Criação de listas

In [ ]:
lista1 = [0,1,2,3,4,5]
lista2 = [10]
print(lista1,lista2)

[0, 1, 2, 3, 4, 5] [10]

In [ ]:
# Criando Listas Vazias

lista0 = []
lista0b = list()        # criando uma lista nula a partir da função list() 
print(lista0, lista0b)

[] []

In [ ]:
l = [12, 12.3, 30, 1+3j, 'string', [12,34], (5,6,7)]
print(l)

[12, 12.3, 30, (1+3j), 'string', [12, 34], (5, 6, 7)]

## Acesso aos itens de uma lista

In [ ]:
# Extração de elementos

lista = [0, 10, 20, 30, 40, 50]
#       [0, |1   2   3  |4   5]

print(lista[1])
print(lista[2])

# Operação de fatiamento da lista  
print(lista[1:4])
listab = lista[1:4]     
print(listab)

10
20
[10, 20, 30]
[10, 20, 30]

In [ ]:
# operação de extração de elementos alternados 
lista = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(lista[1 : : 2])

# sequenciamento reverso:
print(lista[-1])
print(lista[3:-2])

[10, 30, 50, 70, 90]
90
[30, 40, 50, 60, 70]

## Aninhamento de listas

É possível aninhar listas, ou seja, colocar uma lista dentro de outra.

In [ ]:
L = [[1,2,3],[40,50,60,70]]
print(L)

print(L[0])
print(L[0][1])     #Acessa o elemento de índice 1 dentro da lista L[0]

[[1, 2, 3], [40, 50, 60, 70]]
[1, 2, 3]
2

In [ ]:
L2 = [[1,2,3],[40,50,[600,700,800],90]]

print(L2[1])
print(L2[1][2])
print(L2[1][2][2])

[40, 50, [600, 700, 800], 90]
[600, 700, 800]
800

## Desempacotamento (de sequência de objetos)

Desempacotando a lista e adicionando o valor em cada uma das variáveis. 

O tamonho da lista deve ser igual ao número de variáveis sem usar o operador de desempacotamento (*).

In [ ]:
L = [0,1,2]
a = L[0]
b = L[1]
c = L[2]

print(L,a,b,c)

a,b,c = L
a, b = L    # ERROR

[0, 1, 2] 0 1 2

ValueError: ignored

In [ ]:
s1, s2, s3 = "ABC"
print(s1, s2, s3)

A B C

In [ ]:
# Operador de desempacotamento de sequências "*"

# Exemplo 1:
a, *b = [0,1,2,3,4,5]
print(a,b)
print()


# Exemplo 2:
s =  "Alpha Beta Gamma Delta Epsilon"
ls = s.split()             # cria uma lista definida pelo espaço entre as palavras da string (padrão)
print(ls)

first, *mid, last = ls
print(first, mid, last)    #coloca o primeiro elemento da lista "ls" em "first", coloca o último elemento da lista em "last" e é armazenada na variável "mid" a lista sem o primeiro e último elemento.
print()

# Exemplo 3:
filename = "/usr/local/bin/prog"
lf = filename.split("/")
*dir, exe = lf
print(lf, dir, exe)
print()

0 [1, 2, 3, 4, 5]

['Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon']
Alpha ['Beta', 'Gamma', 'Delta'] Epsilon

['', 'usr', 'local', 'bin', 'prog'] ['', 'usr', 'local', 'bin'] prog

60

In [ ]:
import random

# Argumentos com estrela

# Exemplo 1:
def somatudo(a,b,c):
  return(a+b+c)

print(somatudo(10,20,30))


L = [40,50,60]
# print ( somatudo(L))   # ERROR
print(somatudo(*L))      # Forma correta de passar os elementos da lista L para as variáveis presentes na função somatudo()
print()


# Exemplo 2:
def gera3valores():
  x = random.randint(0,100)
  y = random.randint(0,100)
  z = random.randint(0,100)
  return [x,y,z]

valores = gera3valores()
print( valores, somatudo(*valores))

print(somatudo(*gera3valores()))
print()

# Exemplo 3:
L = [40,50,60]
print(somatudo(10,*L[1:]))

60
150

[27, 95, 5] 127
131

120

# Método de Listas

## Método para adicionar novos elementos à uma lista

In [ ]:
# L.append(e)

L = [0,1,2]
print(L)

L.append(3)
print(L)

[0, 1, 2]
[0, 1, 2, 3]

In [2]:
# L.extend(m)

L = [0,1,2]
print(L)

L.extend([3,4,5])        # o método extend concatena a lista passada como argumento a lista L  
print(L)
print()

# o método extend é equivalente a fazer:
L = [0,1,2]
L += [3,4,5]        # ==> L.append([3,4,5])
print(L)

NameError: ignored

## Métodos para inserir elementos dentro de uma lista

In [ ]:
# L.insert(i,e)            i = índice é a posição onde quero inserir o elemento dentro da lista, e = elemento a ser inserido

L = ['a', 'b', 'd', 'e']
print(L)

L.insert(2, 'c')
print(L)
print()

# outra maneira equivalente ao método extend é:
L = ['a', 'b', 'd', 'e']
print(L)

L[2:2] = 'c'
print(L)

['a', 'b', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

['a', 'b', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

## Métodos para remoção de elementos de uma lista

In [ ]:
# L.remove(e)   :     remove a primeira ocorrência do elemento 'e' na lista L

L = ['a', 'b', 'c', 'd', 'e', 'c', 'c']
print(L)

L.remove('c')
print(L)

L.remove('c')
print(L)

L.remove('c')
print(L)


#L.remove('c')     # gera a exceção se o elemento a ser removido não existir
#print(L)

['a', 'b', 'c', 'd', 'e', 'c', 'c']
['a', 'b', 'd', 'e', 'c', 'c']
['a', 'b', 'd', 'e', 'c']
['a', 'b', 'd', 'e']

In [ ]:
# L.pop()         # retorna o item mais à direita de L e o remove da lista.

L =  [0,1,2,3,4]
e = L.pop()
print(L,e)

[0, 1, 2, 3] 4

In [ ]:
# L.pop(i)       # i é o índice do elemento a ser removido.

L = [0,1,2,3,4]
e = L.pop(2)
print(L,e)

[0, 1, 3, 4] 2

## Métodos de Ordenamento

In [ ]:
# L.reverse()     inverte a lista L

L = [3,5,0,2,1,4]
print(L)

L.sort()          # o método sort ordena a lista L de forma que organiza os elementos de forma cresente ou alfabética
print(L)

[3, 5, 0, 2, 1, 4]
[0, 1, 2, 3, 4, 5]

## Métodos de pesquisa em lista

In [ ]:
# L.count(e)        : contar o número de ocorrências de e na lista L

L = [0,7,7,5,5,5,1,0,7,4,5]

print(L.count(7))
print(L.count(1))
print(L.count(77))

3
1
0

In [ ]:
# L.index(e, start, end)      : retorna a posição da primeira ocorrência
#                               do elemento e na lista L ( a partir do índive start até o índice end)

L = ['a', 'b', 'c', 'd', 'c']
print(L.index('c'))
print(L.index('c',3))
print(L.index('d',1,4))


print(L.index('c'))

2
4
3
2

## Substituição de elementos de uma lista

In [ ]:
L = ['a','b','x','y','e']
L[2:4] = ['c','d']

print(L)
print()

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Substituindo elementos por [] (ou deletando elementos)

L = ['a','b','c','d','e']
L[2:4] = []
print(L)
print()

L = ['a','b','c','d','e']
del L[2:4]
print(L)

['a', 'b', 'e']

['a', 'b', 'e']

## Interando itens em uma lista

In [3]:
# Função range() retorna interador, é necessário converter para lista
# range(n) --- gera uma sequência de 0 e (n-1)
# range(n1,n2) --- gera uma sequência entre n1 e (n2-1)
# range(n1,n2,step) --- gera uma sequência entre n1 e (n2-1) com incremento igual a 'step'


for i in range(4):
  print(i)

print()

for i in range(7,11):
  print(i)

print()

for i in range(0,10,2):
  print(i)

range(0, 4)
0
1
2
3

7
8
9
10

0
2
4
6
8

In [ ]:
L = [0,10,20,30,40,50,60,70,80,90]

for item in L:
  print(item)

print()

for i in range(len(L)):
  # L[i] = L[i]**2
  L[i] **= 2

print(L)

0
10
20
30
40
50
60
70
80
90

[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

## Compressão de listas

In [ ]:
# Exemplo  1:
# Gerar uma lista com pequeno número de elementos.
# Ex. : inteiros 0 a 10, variando de 1 em 1

# Lista literal:
L = [0,1,2,3,4,5,6,7,8,9,10]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Exemplo 2:
# Gerar uma lista com todos os anos entre 1900 e 1940

# Usando list(range()):
print(list(range(1900,1941)))
print()

# Compressão de lista:
L = [y for y in range(1900,1941)]
print(L)

[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940]

[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940]

In [ ]:
# Exemplo 3:
# Gerar uma sequência de valores entre 8.7 e 2.7, com incrementos de 0.2:
# 0.7, 0.9, 0.11, ..., 2.7

L = [x/10 for x in range(7,27+1,2)]
print(L)

[0.7, 0.9, 1.1, 1.3, 1.5, 1.7, 1.9, 2.1, 2.3, 2.5, 2.7]

In [ ]:
# Exemplo 4:
# Gerar uma lista contendo todos os anos bissextos entre 1900 e 1940

L = [ano for ano in range(1900,1940+1) if (ano % 4 == 0 and ano % 100 !=0 ) or (ano % 400 == 0)]
print(L)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940]

In [ ]:
# Exemplo 5:


bissextos = []

for ano in range(1900, 1940+1):
  if(ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    bissextos.append(ano)

print(bissextos)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940]