# Pandas: exportando e importando dados

In [ ]:
import pandas as pd
import numpy as np
# Gerando um Data Frame
dados = np.random.randint(low=1,high=10000, size=(20,5))
df = pd.DataFrame(dados, columns=list('ABCDE'))

print(df)

       A     B     C     D     E
0   3671  2271  3357  6785  2591
1   3295  9476   322  6128  1058
2   4081    69  9505   665  8831
3   9000  8892  2391  8724  9073
4   4807  8345  3140  3787  1249
5   3423  8217  7033  8464  3108
6   1761  8676   989  9558  1931
7   4437  3795  4324  6687  5646
8   2177  8936  9362  6248  3095
9   5213  5101  3738  8899  9504
10  1352  8868  2741    33  4841
11  8460  8416  8188  4626  9318
12  6331  7976  5812  9211   581
13  5924  2294  2361  3051  2889
14  6082  2825  3106  7897  6386
15   233  4510  9719  2147  2824
16   556  3572  6333   989   847
17  5308   391  6032  1208  8820
18  3173  3333  1885  1489  6605
19   263  7356   307  2518  1019

## Exportação de Dados

### Exportando em Formato csv

CSV = "comma separated values" / Valores separados por vírgula

In [ ]:
# utilizando o atributo .to_csv(...) podemos exportar um data frame no formato csv
# Diferentes argumentos entram nessa função
# Argumento 01: 'file_name.csv' / nome da saída do arquivo 
# Argumento 'sep = ....' / informa como iremos separar os elementos do Data Frame, por Default é a vírgual 
# Argumento 'index = ...' permite ocultar ou não a indexação na lateral esquerda do Data Frame
# Argumento 'header= ...' permite ocultar ou não o índice das colunas.

df.to_csv('output1.csv')
df.to_csv('output2.csv', sep = ' ')
df.to_csv('output3.csv', index = False, header = False)

### Exportando em formato Excel (*.xlsx)

In [ ]:
# Exportando no formato excel através do atributo .to_excel
# Argumento 01: 'file_name.xlsx' / nome da saída do arquivo 
# Argumento 'sheet_name= ...' / Permite alterar o nome da página na planilha eletrônica

df.to_excel('output4.xlsx')
df.to_excel('output5.xlsx', sheet_name= 'Page1')

# Exportando data frames para diferentes páginas
df2 = df.copy()
df3 = df.copy()

with pd.ExcelWriter('output6.xlsx') as writer:
  df.to_excel(writer, sheet_name= 'Page1')
  df2.to_excel(writer, sheet_name= 'Page2')
  df3.to_excel(writer, sheet_name= 'Page3')

### Exportando em Latex

In [ ]:
# O atributo .to_latex(...) permite exportar um arquivo no formato latex.
# Argumento 01: 'file_name.xlsx' / nome da saída do arquivo 
df.to_latex('output7.tex')

# exibindo o data frame que foi salvo no formato tex.
print(df.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &     A &     B &     C &     D &     E \\
\midrule
0  &  3671 &  2271 &  3357 &  6785 &  2591 \\
1  &  3295 &  9476 &   322 &  6128 &  1058 \\
2  &  4081 &    69 &  9505 &   665 &  8831 \\
3  &  9000 &  8892 &  2391 &  8724 &  9073 \\
4  &  4807 &  8345 &  3140 &  3787 &  1249 \\
5  &  3423 &  8217 &  7033 &  8464 &  3108 \\
6  &  1761 &  8676 &   989 &  9558 &  1931 \\
7  &  4437 &  3795 &  4324 &  6687 &  5646 \\
8  &  2177 &  8936 &  9362 &  6248 &  3095 \\
9  &  5213 &  5101 &  3738 &  8899 &  9504 \\
10 &  1352 &  8868 &  2741 &    33 &  4841 \\
11 &  8460 &  8416 &  8188 &  4626 &  9318 \\
12 &  6331 &  7976 &  5812 &  9211 &   581 \\
13 &  5924 &  2294 &  2361 &  3051 &  2889 \\
14 &  6082 &  2825 &  3106 &  7897 &  6386 \\
15 &   233 &  4510 &  9719 &  2147 &  2824 \\
16 &   556 &  3572 &  6333 &   989 &   847 \\
17 &  5308 &   391 &  6032 &  1208 &  8820 \\
18 &  3173 &  3333 &  1885 &  1489 &  6605 \\
19 &   263 &  7356 &   307 &  2518 &  1019 \\
\bottomrule
\end{tabular}

### Exportando em MarkDown()

In [ ]:
# para exportar um data frame no formato markdown usa-se o atributo .to_mackdown(...)
print(df.to_markdown())

|    |    A |    B |    C |    D |    E |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 3671 | 2271 | 3357 | 6785 | 2591 |
|  1 | 3295 | 9476 |  322 | 6128 | 1058 |
|  2 | 4081 |   69 | 9505 |  665 | 8831 |
|  3 | 9000 | 8892 | 2391 | 8724 | 9073 |
|  4 | 4807 | 8345 | 3140 | 3787 | 1249 |
|  5 | 3423 | 8217 | 7033 | 8464 | 3108 |
|  6 | 1761 | 8676 |  989 | 9558 | 1931 |
|  7 | 4437 | 3795 | 4324 | 6687 | 5646 |
|  8 | 2177 | 8936 | 9362 | 6248 | 3095 |
|  9 | 5213 | 5101 | 3738 | 8899 | 9504 |
| 10 | 1352 | 8868 | 2741 |   33 | 4841 |
| 11 | 8460 | 8416 | 8188 | 4626 | 9318 |
| 12 | 6331 | 7976 | 5812 | 9211 |  581 |
| 13 | 5924 | 2294 | 2361 | 3051 | 2889 |
| 14 | 6082 | 2825 | 3106 | 7897 | 6386 |
| 15 |  233 | 4510 | 9719 | 2147 | 2824 |
| 16 |  556 | 3572 | 6333 |  989 |  847 |
| 17 | 5308 |  391 | 6032 | 1208 | 8820 |
| 18 | 3173 | 3333 | 1885 | 1489 | 6605 |
| 19 |  263 | 7356 |  307 | 2518 | 1019 |

### Exportando como dicionário

In [ ]:
# deve-se usar o atributo .to_dict() para alterar para o formato dicionário.

d = df.to_dict()
print(d)
type(d)

{'A': {0: 3671, 1: 3295, 2: 4081, 3: 9000, 4: 4807, 5: 3423, 6: 1761, 7: 4437, 8: 2177, 9: 5213, 10: 1352, 11: 8460, 12: 6331, 13: 5924, 14: 6082, 15: 233, 16: 556, 17: 5308, 18: 3173, 19: 263}, 'B': {0: 2271, 1: 9476, 2: 69, 3: 8892, 4: 8345, 5: 8217, 6: 8676, 7: 3795, 8: 8936, 9: 5101, 10: 8868, 11: 8416, 12: 7976, 13: 2294, 14: 2825, 15: 4510, 16: 3572, 17: 391, 18: 3333, 19: 7356}, 'C': {0: 3357, 1: 322, 2: 9505, 3: 2391, 4: 3140, 5: 7033, 6: 989, 7: 4324, 8: 9362, 9: 3738, 10: 2741, 11: 8188, 12: 5812, 13: 2361, 14: 3106, 15: 9719, 16: 6333, 17: 6032, 18: 1885, 19: 307}, 'D': {0: 6785, 1: 6128, 2: 665, 3: 8724, 4: 3787, 5: 8464, 6: 9558, 7: 6687, 8: 6248, 9: 8899, 10: 33, 11: 4626, 12: 9211, 13: 3051, 14: 7897, 15: 2147, 16: 989, 17: 1208, 18: 1489, 19: 2518}, 'E': {0: 2591, 1: 1058, 2: 8831, 3: 9073, 4: 1249, 5: 3108, 6: 1931, 7: 5646, 8: 3095, 9: 9504, 10: 4841, 11: 9318, 12: 581, 13: 2889, 14: 6386, 15: 2824, 16: 847, 17: 8820, 18: 6605, 19: 1019}}

dict

## Importando Dados

### Importando dados em formato csv

In [ ]:
# Importando dados de um arquivo csv
# para ler um arquivo csv utilizamos o atributo .read_csv(...)
# Primeiro argumento: nome do arquivo.


import pandas as pd

dfx = pd.read_csv('output1.csv')
print(type(dfx))
print()

print(dfx)
print()

# Observe que as colunas são carregadas com um novo item chamado unnamed
# da mesma forma uma coluna a mais é inserida, essa especifica a númeração das linhas.
print(dfx.columns)
print()

# Podemos remover essas informações utilizando um segundo argumento.
dfx = pd.read_csv('output1.csv', index_col=0, header=0)
print(dfx)

<class 'pandas.core.frame.DataFrame'>

    Unnamed: 0     A     B     C     D     E
0            0  3671  2271  3357  6785  2591
1            1  3295  9476   322  6128  1058
2            2  4081    69  9505   665  8831
3            3  9000  8892  2391  8724  9073
4            4  4807  8345  3140  3787  1249
5            5  3423  8217  7033  8464  3108
6            6  1761  8676   989  9558  1931
7            7  4437  3795  4324  6687  5646
8            8  2177  8936  9362  6248  3095
9            9  5213  5101  3738  8899  9504
10          10  1352  8868  2741    33  4841
11          11  8460  8416  8188  4626  9318
12          12  6331  7976  5812  9211   581
13          13  5924  2294  2361  3051  2889
14          14  6082  2825  3106  7897  6386
15          15   233  4510  9719  2147  2824
16          16   556  3572  6333   989   847
17          17  5308   391  6032  1208  8820
18          18  3173  3333  1885  1489  6605
19          19   263  7356   307  2518  1019

Index(['Unnamed: 0', 'A', 'B', 'C', 'D', 'E'], dtype='object')

       A     B     C     D     E
0   3671  2271  3357  6785  2591
1   3295  9476   322  6128  1058
2   4081    69  9505   665  8831
3   9000  8892  2391  8724  9073
4   4807  8345  3140  3787  1249
5   3423  8217  7033  8464  3108
6   1761  8676   989  9558  1931
7   4437  3795  4324  6687  5646
8   2177  8936  9362  6248  3095
9   5213  5101  3738  8899  9504
10  1352  8868  2741    33  4841
11  8460  8416  8188  4626  9318
12  6331  7976  5812  9211   581
13  5924  2294  2361  3051  2889
14  6082  2825  3106  7897  6386
15   233  4510  9719  2147  2824
16   556  3572  6333   989   847
17  5308   391  6032  1208  8820
18  3173  3333  1885  1489  6605
19   263  7356   307  2518  1019

### Importando dados em formato xlsx (excel)

In [ ]:
# Utiliza-se o atributo .rea_excel()
# Primeiro argumento: nome do arquivo a ser lido
# Segundo arqgumento: 'sheet_name = ...' permite acessar a página do arquivo excel conforme especificado
# Terceiro argumento: index_col = 0 permite remover a coluna unnamed

dfx = pd.read_excel('output6.xlsx')
print(dfx)
print()

dfx = pd.read_excel('output6.xlsx', sheet_name = 'Page2', index_col=0)
print(dfx)
print()

    Unnamed: 0     A     B     C     D     E
0            0  3671  2271  3357  6785  2591
1            1  3295  9476   322  6128  1058
2            2  4081    69  9505   665  8831
3            3  9000  8892  2391  8724  9073
4            4  4807  8345  3140  3787  1249
5            5  3423  8217  7033  8464  3108
6            6  1761  8676   989  9558  1931
7            7  4437  3795  4324  6687  5646
8            8  2177  8936  9362  6248  3095
9            9  5213  5101  3738  8899  9504
10          10  1352  8868  2741    33  4841
11          11  8460  8416  8188  4626  9318
12          12  6331  7976  5812  9211   581
13          13  5924  2294  2361  3051  2889
14          14  6082  2825  3106  7897  6386
15          15   233  4510  9719  2147  2824
16          16   556  3572  6333   989   847
17          17  5308   391  6032  1208  8820
18          18  3173  3333  1885  1489  6605
19          19   263  7356   307  2518  1019

       A     B     C     D     E
0   3671  2271  3357  6785  2591
1   3295  9476   322  6128  1058
2   4081    69  9505   665  8831
3   9000  8892  2391  8724  9073
4   4807  8345  3140  3787  1249
5   3423  8217  7033  8464  3108
6   1761  8676   989  9558  1931
7   4437  3795  4324  6687  5646
8   2177  8936  9362  6248  3095
9   5213  5101  3738  8899  9504
10  1352  8868  2741    33  4841
11  8460  8416  8188  4626  9318
12  6331  7976  5812  9211   581
13  5924  2294  2361  3051  2889
14  6082  2825  3106  7897  6386
15   233  4510  9719  2147  2824
16   556  3572  6333   989   847
17  5308   391  6032  1208  8820
18  3173  3333  1885  1489  6605
19   263  7356   307  2518  1019

In [ ]:
# Podemos acessar todas as páginas de um arquivo excel em uma única vez.
# O código abaixo mostra como fazer isso.

with pd.ExcelFile('output6.xlsx') as xls:
  dfx1 = pd.read_excel(xls, 'Page1')
  dfx2 = pd.read_excel(xls, 'Page2')
  dfx3 = pd.read_excel(xls, 'Page3')

print(dfx1)
print()
print(dfx2)
print()
print(dfx3)

    Unnamed: 0     A     B     C     D     E
0            0  3671  2271  3357  6785  2591
1            1  3295  9476   322  6128  1058
2            2  4081    69  9505   665  8831
3            3  9000  8892  2391  8724  9073
4            4  4807  8345  3140  3787  1249
5            5  3423  8217  7033  8464  3108
6            6  1761  8676   989  9558  1931
7            7  4437  3795  4324  6687  5646
8            8  2177  8936  9362  6248  3095
9            9  5213  5101  3738  8899  9504
10          10  1352  8868  2741    33  4841
11          11  8460  8416  8188  4626  9318
12          12  6331  7976  5812  9211   581
13          13  5924  2294  2361  3051  2889
14          14  6082  2825  3106  7897  6386
15          15   233  4510  9719  2147  2824
16          16   556  3572  6333   989   847
17          17  5308   391  6032  1208  8820
18          18  3173  3333  1885  1489  6605
19          19   263  7356   307  2518  1019

    Unnamed: 0     A     B     C     D     E
0            0  3671  2271  3357  6785  2591
1            1  3295  9476   322  6128  1058
2            2  4081    69  9505   665  8831
3            3  9000  8892  2391  8724  9073
4            4  4807  8345  3140  3787  1249
5            5  3423  8217  7033  8464  3108
6            6  1761  8676   989  9558  1931
7            7  4437  3795  4324  6687  5646
8            8  2177  8936  9362  6248  3095
9            9  5213  5101  3738  8899  9504
10          10  1352  8868  2741    33  4841
11          11  8460  8416  8188  4626  9318
12          12  6331  7976  5812  9211   581
13          13  5924  2294  2361  3051  2889
14          14  6082  2825  3106  7897  6386
15          15   233  4510  9719  2147  2824
16          16   556  3572  6333   989   847
17          17  5308   391  6032  1208  8820
18          18  3173  3333  1885  1489  6605
19          19   263  7356   307  2518  1019

    Unnamed: 0     A     B     C     D     E
0            0  3671  2271  3357  6785  2591
1            1  3295  9476   322  6128  1058
2            2  4081    69  9505   665  8831
3            3  9000  8892  2391  8724  9073
4            4  4807  8345  3140  3787  1249
5            5  3423  8217  7033  8464  3108
6            6  1761  8676   989  9558  1931
7            7  4437  3795  4324  6687  5646
8            8  2177  8936  9362  6248  3095
9            9  5213  5101  3738  8899  9504
10          10  1352  8868  2741    33  4841
11          11  8460  8416  8188  4626  9318
12          12  6331  7976  5812  9211   581
13          13  5924  2294  2361  3051  2889
14          14  6082  2825  3106  7897  6386
15          15   233  4510  9719  2147  2824
16          16   556  3572  6333   989   847
17          17  5308   391  6032  1208  8820
18          18  3173  3333  1885  1489  6605
19          19   263  7356   307  2518  1019