# Operadores de replicação

In [ ]:
print(3*2)                # *: operador de multiplicação
print(3*"abc")            # operador de replicação agindo sobre uma string 
#print(3.14*"abc")        # ERROR, o fator de replicação não pode ser um número quebrado quando age sobre uma string.
print(5*[1,2,3,4,5])      # operador de replicação agindo sobre uma lista
print(3*('a','b', 4.2))   # operador de replicação agindo sobre uma tupla

6
abcabcabc
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
('a', 'b', 4.2, 'a', 'b', 4.2, 'a', 'b', 4.2)

# Zeros, Nulos, Vazios

In [ ]:
# Funções: int(), float(), complex()
#          str(), list(), tuple(), dict()

print( int(), float(), complex())         # retorna zeros
print( "*"+ str() + "*")                  # string vazia
print( list(), tuple(), dict())           # conjuntos vazios

0 0.0 0j
**
[] () {}

# Conversões entre tipos de dados

O Python faz conversões entre diferentes tipos de dados. Por exemplo, pode-se converter 5 (int) para 5.0 (float) e vice-versa, ou '5' (str) para 5 (int) ou 5.0 (float) e vice-versa. Conversões entre diferentes tipos é algo corriqueiro em programação. Abaixo seguem os códigos que explicam essas conversões.

In [ ]:
# Conversão de string para valores numéricos

i = int("1234")
f = float("1234")
g = complex("1234")

print(i, type(i))
print(f, type(f))
print(g, type(g))
#print(int("xyz"))           # ERRO: um número inteiro sempre deve ser um valor numérico!

1234 <class 'int'>
1234.0 <class 'float'>
(1234+0j) <class 'complex'>

In [ ]:
# Conversão de número para string

s1 = str(123)
s2 = str(3.1416)
s3 = str(3+2j)

print(s1, s2, s3, type(s1), type(s2), type(s2))

123 3.1416 (3+2j) <class 'str'> <class 'str'> <class 'str'>

In [ ]:
# Conversão de string para lista (converte cada elemento da string em um elemento da lista)

lista1 = list("abcd")
print(lista1)

tupla = tuple("efgh")
print(tupla)

['a', 'b', 'c', 'd']
('e', 'f', 'g', 'h')

Há diferentes maneiras de entrar com dados nas variáveis presentes em um código na linguagem Python. Neste nootebook iremos apresentar duas formas de fazer isso: (1) diretamente dentro do código/usando formulários e (2) utilizando a função *input( )*.

# Forms (formulários)

In [ ]:
a =  2 #@param
b = 10 #@param

In [ ]:
#@markdown #Parâmetros Numéricos
var_number = 3.14 #@param {type:"number"}
var_int =  7      #@param {type:"integer"}
var_raw = var_int #@param 

print(var_number, var_int, var_raw)

var_slider1 = 3 #@param  {type:"slider", min: 0, max: 5, step: 1}
var_slider2 = 3 #@param  {type:"slider", min: -5, max: 5, step: 0.1}


#@markdown #Valores booleanos
var_boolean = False #@param {type:"boolean"}

#@markdown # Strings
var_string = "File1.dat" #@param {type:"string"}

#@markdown # Datas!
var_date = "2019-11-09" #@param {type:"date"}

#@markdown # Menus (dropdown)
var_dropdown = 30 #@param ["10", "20", "30", "40"]{type: "raw"}
var_dropdown2 = "Earth" #@param ["Mercury", "Venus", "Earth", "Mars"] {allow-input: true}

3.14 7 7

# Entrada via terminal

In [ ]:
# Bhaskara 
# Resolver: a*x**2 +b*x + c = 0
import cmath

a = float(input("Digite a: "))       # Função input sempre retorna uma string conforme o que digita-se
b = float(input("Digite b: "))
c = float(input("Digite c: "))

print(a,b,c,type(a),type(b),type(c))

x_1 = (-b + cmath.sqrt(b**2 -4*a*c))/(2*a)
x_2 = (-b - cmath.sqrt(b**2 -4*a*c))/(2*a)

print("\n", "x1 =", x_1,"\n",
      "x2 =",x_2)

Digite a: 1
Digite b: 2
Digite c: 3
1.0 2.0 3.0 <class 'float'> <class 'float'> <class 'float'>

 x1 = (-1+1.4142135623730951j)
 x2 = (-1-1.4142135623730951j)