# Operadores

In [ ]:
# Exemplo
# Operador: +
# Operação: soma de dois números
# Operandos: 5 e 3 

5 + 3

8

In [ ]:
# Operadores binários:
# mais comuns, e operam 2 operandos.

print(2+3)          # operador soma +
print(10/3)         # operador divisão /
print(3**4)         # operador de potenciação **

5
3.3333333333333335
81

In [ ]:
# Operadores unários atuam sobre um único operando 

x = 10

print(-x)         # operador (unário) que retorna o oposto de x.
print(+x)         # operador identidade que retorna o mesmo valor de x.

-10
10

O Python possui os seguintes operadores:

- operadores aritméticos.
- operadores de atribuição.
- operadores de comparação.
- operadores lógicos.
- operadores identidade.
- operadores de inclusão (ou adesão)
- operadores bit-a-bit (*bitwise*)

# Operadores aritiméticos

  - soma: +
  - subtração: - 
  - produto: *
  - divisão: /
  - potenciação: **
  - divisão aproximada (*floor division*): //
  - módulo: %

In [ ]:
print(13+4)       # soma
print(13-4)       # subtração
print(13*4)       # produto
print(13/4)       # divisão
print(13**2)      # potenciação

17
9
52
3.25
169

In [ ]:
print(13//4)     # divisão aproximada
print(100//3)

print(-13/4)
print(-13//4)

3
33
-3.25
-4

In [ ]:
# módulo:  %

print(13%4)
print(20%3)

1
2

In [ ]:
angle_deg = 1234.5      # ângulo em graus
angle_deg % 360

154.5

In [ ]:
t = 5543                # tempo em segundos

h = t//3600
m = (t%3600)//60
s = (t%60)
print(h,m,s)

print(h*3600 +m*60 +s)

1 32 23
5543

# Operadores de atribuição

Um operador de atribuição atribui um valor ao operando à sua esquerda baseado no valor do operando à direita.

O operador de atribuição básico é o igual:

* =

Outros operadores de atribuição são operadores de atribuição composto:

* +=
* -=
* **=
* /=
* *=

In [ ]:
x = 7 + 3
y = x + 3

print(x,y)

10 13

In [ ]:
a = 7

a = a + 4
print(a)

11

In [ ]:
a = 7
a += 8

print(a)

15

In [ ]:
b = 5
b **= 5

print(b)

3125

# Operadores de Comparação

* == igual (igualdade!!!)
* != diferente
* < menor
* <= menor ou igual
* \> maior
* \>= maior ou igual 

Rotornam **True**  ou **False**

In [ ]:
# Uma mesma expressão relacional pode conter duas comparações:

a = 9
0 <= a <= 10

True

In [ ]:
# É possível fazer comparações (independentes) numa mesma linha de código.
# O resultado será um tuplas contendo os resultados das comparações:

a = 9
b = 6

a <= b, a != b, a >= b, a > b

(False, True, True, True)

In [ ]:
# Se os operadores forem de classes (tipos) diferentes de modo de comparação não faça sentido, uma mensagem de erro (excessão) será gerada.

"três" < 4      # ERROR

TypeError: ignored

In [ ]:
"Argentina" < "Brasil"  # numa listagem alfabética  Argentina vem antes do Brasil, portanto retorna True.

True

In [ ]:
"Chile" < "Brasil"      # numa listagem alfabética Chile vem depois do Brasil, portanto retorna False.

False

**Operadores Lógicos**

+ **and** (binário)
> operando1 **and** operando2  <br><br>
> retorna **True** se e somente se os dois operandos from True, <br> caso contrário, retorna **False** 
+ **or** (binário)
> operador1 **or** operando2 <br><br>
> retorna **True** se pelo menos um dos operandos for True, <br>
> caso contrário, retorna **False**
+ **not** (unário)
> **not** operando <br><br>
> retorna **True** se o operando for False <br>
> e **False** se o operando for True

In [ ]:
# and:
True and True, True and False, False and True, False and False

(True, False, False, False)

In [ ]:
# or:
True or True, True or False, False or True, False or False

(True, True, True, False)

In [ ]:
# not:
not True, not False

(False, True)

In [ ]:
a = 10
b = 20

print(a > 10 and b < 100)
print(a < 50 and b < 50)

print ( (a > 1 or a < 20) and (b < 50 or b > 10) )

x = (a>1 or a<20) and (b<50 or b>10)
y = not ( (a > 1 or a < 20) and (b < 50 or b > 10) )
z = not y
print(x,y,z)

False
True
True
True False True

No python ...

* Todos os objetos são True, exceto o objeto especial **Nome**
* Todos os valores numéricos são True, exceto o zero (0)
* Todas as strings são True, exceto \' \' (string vazia)
* Todas as listas são True, exceto [ ] (lista vazia)
* Todas as listas são True, exceto ( ) (tupla vazia)

In [ ]:
cinco = 5
dois = 2
zero = 0

print(cinco and dois)        # irá retornar True
print(dois and cinco)        # irá retornar True

print()
print(cinco and zero)        # irá retornar False
print(zero and cinco)        # irá retornar False

2
5

0
0

In [ ]:
print(cinco or dois)        # irá retornar True com cinco como resultado
print(dois or cinco)        # irá retornar True com dois como reultado

print()
print(zero or cinco)        # irá retornar True com cinco como resultado
print(cinco or zero)        # irá retornar True com cinco como resultado

print()
print(zero or None)         # irá retornar False com None como resultado
print(None or zero)         # irá retornar False com Zero como resultado

5
2

5
5

None
0

# Operadores de indentidade

Utiliza-se **is** para saber quando um identificador referencia o mesmo objeto referenciado por outro identificador. Na situação em que existe a referencia será retornado o valor True, caso contrário retornará False. O operador **is not** retorna a solução contrária do **is**. 


* is
* is not

In [ ]:
# Exemplo 1

a = 12.3
b = 12.3

print()
print(a == b)
print(a is b)    # Deve retornar False, pois o obgeto referenciado por A não é o mesmo referenciado por B (apesar deles possuirem o mesmo valor e serem do mesmo tipo)


# Exemplo 2
lista1 = [1,2,3]
lista2 = [1,2,3]

print()
print(lista1 == lista2)
print(lista1 is lista2)

# Exemplo 3

a = 3000
b = a

print()
print(a == b)
print(a is b)  # Deve retornar True, pois "b" passa a referenciar aquilo que a variável "a" referência 

# Exemplo 4

a = 17
b = 17

print()
print(a == b)
print(a is b)

c = 256
d = 256
print(c is d)  

c = 257
d = 257
print(c is d)  # deve retornar False, pois o limite vai até 256


a = -20
b = -20
print(a is b)



# Exemplo 5

str1 = 'a'
str2 = 'a'

print()
print(str1 is str2)

str1 = 'xyz'
str2 = 'xyz'
print(str1 is str2)

str3 = 'Porto Alegre'
str4 = 'Porto Alegre'
print(str3 is str4)

True
False

True
False

True
True

True
True
True
False
False

True
True
False

# Operadores de inclusão (de adesão)

Utiliza-se **in** para saber se um elemento está presente em uma lista ou uma string, retorna True quando o elemento está presente e False quando o elemento não pertence.

* in
* not in

In [ ]:
p = [1,21,37,43,50,67]
a = 3

print(3 in p, 3 not in p)
print(37 in p, 37 not in p)

False True
True False

In [ ]:
t = (4, "sapo", 3.12, 4, -3)

print("pato" in t)
print(3.12 in t)

False
True

In [ ]:
frase = "Programação Cientifica em Python"

print("Python" in frase)
print("C++" in frase)
print("ação" in frase)

True
False
True

# Operadores em diferentes contextos

In [ ]:
c = 10
print(c +5)

print()
s = "Linguagem"
s = s + " Python"
print(s)

print()
s += " de Programação"
print(s)

15

Linguagem Python

Linguagem Python de Programação

In [ ]:
lista1 = [1,2,3]
print(lista1)

lista1 = lista1 + [4]
print(lista1)

lista1 += [5,6,7]
print(lista1)

alfa = ["Hidrogênio","Hélio","Lítio"] + ["Boro"]
print(alfa)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
['Hidrogênio', 'Hélio', 'Lítio', 'Boro']

In [ ]:
# Se os operadores forem de tipos diferentes, ocorrerá um erro:

c = [1,2,3]
c = c + 4

print(c)

TypeError: ignored

# Critério de precedência

A procedência de execução do código das expressões matemáticas respeita a seguinte hierarquia:




```
( )                         parênteses (operações entre parênteses)
**                          potenciação
+x, -x                      operadores unitários
*, /, //, %                 multiplicação, divisão, divisão aproximada, módulo
+, -                        adição, subtração
<<, >>                      deslocamentos de bits (em operações bit-a-bit)
&                           operador AND (idem)
^                           operador XOR (idem)
|                           operador OR  (item)

==, !=, >=, >, <=, <        comparações identidade e adesão
is, is not                  

not                         NOT lógico 
and                         AND lógico
or                          OR lógico

```

# Critério de associatividade

In [ ]:
# 100/10*10
#Sequência: Left to Right (LTR)
#           Right to Left (RTL)


#LTR: (100/10)*10 = 10*10 = 100 
#RTL: 100/(10*10) = 100/100 = 1

100/10*10

100.0

In [ ]:
#Exemplo

# 100 +200/100 -3*10 = 100 + (200/100) -3*10 = 72
# 100 +2 -3*10 = 100+2 -(3*10) = 100 +2 -30 = 72
# (100+2) -30 = 102 -30 = 72

100 +200/100 -3*10

72.0