Conjuntos (sets)

**Conjuntos** são coleções não-ordenadas de elementos, ou seja, o índice que referencia os elementos não é ordenado. Por essa razão, por critérios computacionais, quando imprimimos um conjunto, temos como resultado os elementos aleatoriamente distribuidos.

Os delimitadores dos conjuntos são as chaves { }.

## Criando conjuntos

In [ ]:
s = {1, 2, 3, 4, 5}               # armazenando um conjunto na variável s
print(s, type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [ ]:
# Criando conjuntos vazios

strx = ''
listax = []
tuplax = ()
print(strx, listax, tuplax)
print()

setx = {}
print(setx, type(setx))    # diferentes dos tipos acima o conjunto vazio não se cria da forma {}, é necessário usar a função set()

sx = set()                 # cria um conjunto e armazena na variável sx
print(sx, type(sx))

 [] ()

{} <class 'dict'>
set() <class 'set'>

## Conversão para função set

In [ ]:
# conversão para o tipo set

s = set('Python')             # lembremos que o conjunto é uma sequência não ordenada
lista = list('Python')        # convertendo o conjunto para uma lista

print(s,lista)
print()

print(set([1,2,3,4]))         # converte a lista para um conjunto
print(set((1,2,3,4)))         # converte a tupla para um conjunto
print(set({1,2,3,4}))         # converte o conjunto para conjunto
print()
print(set(1))                 # ERRO!

{'n', 't', 'y', 'P', 'o', 'h'} ['P', 'y', 't', 'h', 'o', 'n']

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

TypeError: ignored

## Tamanho de um conjunto

In [ ]:
s0 = set()
s1 = {1}
s5 = {5,4,3,2,1}

print(len(s0), len(s1), len(s5))          # retorna o número de elementos do conjunto (Únicos!!!)

0 1 5

## Unicidade de elementos

Ao contrário das listas e tuplas em cunjuntos elementos repetidos não são contados.

In [ ]:
s = {5,1,1,2,3,2,2,5,1,3,4}
print(len(s))

s

5

{1, 2, 3, 4, 5}

In [ ]:
lista = [1,5,5,5,2,3,1,2,3,4,6,6,1,2]
lista = list(set(lista))      # converte a lista em um conjunto (elementos repetidos não são adicionados mais de uma ver no conjunto) e posteriormente o conjunto em lista
print(lista)                  # eliminamos os números repitidos na lista. Operação importante!

[1, 2, 3, 4, 5, 6]

## Operadores

In [ ]:
## Operadores de associação: in/ not in

s = set('Python')
print(s)

print('p' in s)           # retorna false pois 'p' está contido na string python
print('x' not in s)       # retorna true pois 'x' não está contido na string python

{'n', 't', 'y', 'P', 'o', 'h'}
False
True

In [ ]:
## Operadores entre conjuntos:

# 1) União: |
s = {1,2,3}
t = {4,5,6}
u = s|t                 # o operador | uni o conjunto s com o conjunto t
print(s,t,u)

{1, 2, 3} {4, 5, 6} {1, 2, 3, 4, 5, 6}

In [ ]:
# 2) Intersecção: &

s = {1,2,3,4}
t = {3,4,5,6}
u = s & t
print(s,t,u)             # o perador &  retorna um conjunto onde contém somente os elementos iguais entre os conjuntos s e t

{1, 2, 3, 4} {3, 4, 5, 6} {3, 4}

In [ ]:
# 3) Diferença: -

s = {1,2,3,4}
t = {3,4,5,6}
u = s - t                # os elementos do conjunto s que não estão do conjunto t são 1 e 2

print(s,t,u)            
print()

s = {1,2,3,4}
t = {7,8,9,10} 
u = s - t              # os elementos do conjunto s que não estão no conjunto t são 1,2,3,4. Portanto a variável u deve ter justamente esses elementos como conjunto.
print(s,t,u)
print()

{1, 2, 3, 4} {3, 4, 5, 6} {1, 2}

{1, 2, 3, 4} {8, 9, 10, 7} {1, 2, 3, 4}

In [ ]:
# 4) Diferença simétrica: ^

s = {1,2,3,4}                     
t = {3,4,5,6}
u = s ^ t                   # os elementos do conjunto s que não estão no conjunto t e os elementos do conjunto t que não estão no conjunto s
print(s,t,u)
print()                

s = {1,2,3,4}
t = {7,8,9,10} 
u = s ^ t
print(s,t,u)
print()    

s = {1,2,3,4}
t = {1,2,3,4}
print(s^t)

{1, 2, 3, 4} {3, 4, 5, 6} {1, 2, 5, 6}

{1, 2, 3, 4} {8, 9, 10, 7} {1, 2, 3, 4, 7, 8, 9, 10}

set()

## Métodos de conjuntos

Não possue uma gama muito alta de métodos como as listas, porém é muito maior do que as tuplas.

In [ ]:
# Métodos para inclusão de elementos a um conjunto 
s = {1,2,3}
s = s | {4}      # união entre conjuntos com a operação |
print(s)
print()

s.add(5)         # pode-se fazer a união ple método add
print(s)
print()

t = {4,5,6,7,8}     # adiciona múltiplos elementos ao conjunto 
s.update(t)
print(s)

{1, 2, 3, 4}

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Métodos para remover elementos:
s = {1,2,3,4,5,6,7,8}
s.discard(4)              # remove o elemento 4 do conjunto
print(s)
print()

s.discard(10)             # não existe elemento e não é gerado exceção 
print(s)
print()

s.remove(8)                # remove o elemento 8 do conjunto
print(s)
print()           

#s.remove(10)               # gera uma exceção pois o elemento a ser removido no conjunto não existe. ERROR!
#print(s)
#print()

s.pop()                    # remove um elemento aleatório do conjunto.
print(s)

s.pop()
print(s)

s.pop()
print(s)

s.pop()
print(s)

# Obs: na situação que não existe mais elementos no conjunto o método "pop" retorna uma exceção 

s.clear()                   # o método clear remove todos os elementos do conjunto.
print(s)

{1, 2, 3, 5, 6, 7, 8}

{1, 2, 3, 5, 6, 7, 8}

{1, 2, 3, 5, 6, 7}

{2, 3, 5, 6, 7}
{3, 5, 6, 7}
{5, 6, 7}
{6, 7}
set()

In [ ]:
# Método para copiar conjuntos
s = {3,5,6,7}
t = s
print(s,t)
print()


t = s.copy()              # copia o conjunto s para t 
print(s,t)

{3, 5, 6, 7} {3, 5, 6, 7}

{3, 5, 6, 7} {3, 5, 6, 7}

In [ ]:
# Métodos para operações clássicas entre conjuntos:

# -- União:
s = {1,2,3,4}
t = {3,4,5,6}
u = s.union(t)                # método union() é similar a fazer a operaçãpo s|t 
print(u)
print()

# -- Intersecção:
s = {1,2,3,4}
t = {3,4,5,6}
u = s.intersection(t)               # método intersection() é equivalente a fazer s&t
print(s,t,u)
print()

s.intersection_update(t)            # método intersection_update() é equivalente a fazer s = s & t <==> s &= t
print(s)
print()


# -- Diferença:

s = {1,2,3,4}
t = {3,4,5,6}
u = s.difference(t)                  # método difference é equivalente a fazer s = s-t
print(s,t,u)     
print()

s = {1,2,3,4}
t = {3,4,5,6}
u = s.difference_update(t)           # método difference _update() é equivalente a fazer s = s-t    <==> s-=t
print(s,t,u)    
print()


# -- Diferença simétrica:

s = {1,2,3,4}
t = {3,4,5,6}
u = s.symmetric_difference(t)                  # método symetric_difference é equivalente a fazer s = s^t
print(s,t,u)     
print()

s = {1,2,3,4}
t = {3,4,5,6}
u = s.symmetric_difference_update(t)           # método difference _update() é equivalente a fazer s = s^t    <==> s^m=t
print(s,t,u)    
print()

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4} {3, 4, 5, 6} {3, 4}

{3, 4}

{1, 2, 3, 4} {3, 4, 5, 6} {1, 2}

{1, 2} {3, 4, 5, 6} None

{1, 2, 3, 4} {3, 4, 5, 6} {1, 2, 5, 6}

{1, 2, 5, 6} {3, 4, 5, 6} None

In [ ]:
# Métodos para teste

s = {1,2,3,4,5}
t = {4,5,6,7,8}
u = {6,7,8,9,10}

#print(isdisjoint(t))
print(s.isdisjoint(t))              # Existem elementos comuns entre os dois conjuntos, portanto retorna True
print(s.isdisjoint(u))              # Não existem elementos comuns entre os dois conjuntos, portanto retorna True 
print()



# superconjunto? subconjunto?
s = {1,2,3,4,5}
t = {2,3}


print(s.issuperset(t))             #  t é um subconjunto de s, portanto s é um superconjunto de t, assim retorna True 
print(s.issubset(t))               #  t é um subconjunto de s, portanto s é um superconjunto de t, assim retorna False 
print(t.issubset(s))               #  t é um subconjunto de s, portanto s é um superconjunto de t, assim retorna True

False
True

True
False
True

## Função sorted( )

Retorna uma lista ordena de elementos de uma coleção de dados.

In [ ]:
s = {5,1,3,6,4,2}

x = sorted(s)                   # ordenou os elementos do conjunto e converteu para lista.
print(x, type(x))

[1, 2, 3, 4, 5, 6] <class 'list'>

## Exemplos

In [ ]:
# Exemplo 1: remover itens repetidos em lsitas
lista = [5,2,1,2,1,5,4,4]
lista = list(set(lista))
print(lista)

[1, 2, 4, 5]

In [ ]:
# Exemplo 2: não iterar valores de uma lista que já foram iterados
ids = [123, 201, 199, 123, 199, 999, 201, 123]

# Modo 1:
seen = set()
for id in ids:
  if id not in seen:
    print(id)
  seen.add(id)
print()


# Modo 2:
for id in sorted(set(ids)):
  print(id)

123
201
199
999

123
199
201
999

In [ ]:
# Exemplo 3: para eliminar itens indesejados de uma lista

lista = list('ABCDEFGHIJK')
s1 = set(lista) - {'D', 'J'}
print(s1)

s2 = set(lista).difference({'D','J'})
print(s2)

{'K', 'H', 'B', 'I', 'E', 'G', 'F', 'A', 'C'}
{'K', 'H', 'B', 'I', 'E', 'G', 'F', 'A', 'C'}

## Compressão de conjuntos

In [ ]:
# Exemplo 1:
s = {'file'+str(i)+'dat' for i in range(9)}
print(s)

['file0dat', 'file1dat', 'file2dat', 'file3dat', 'file4dat', 'file5dat', 'file6dat', 'file7dat', 'file8dat']

In [ ]:
# Exemplo 2:
files = {'file1.doc', 'xyz.dat', 'b1.dat', 'index.htm', 'readme.txt', 'prog.out', 'texto.DOC', 'index2.htm', 'alfa.DAT', 'beta.TXT'}
print(files)

dat = {x for x in files if x.lower().endswith('.dat')}
print(dat)

{'index.htm', 'texto.DOC', 'xyz.dat', 'beta.TXT', 'b1.dat', 'file1.doc', 'alfa.DAT', 'index2.htm', 'readme.txt', 'prog.out'}
{'xyz.dat', 'b1.dat', 'alfa.DAT'}

## Conjuntos congelados

A classe frozenset faz com que os conjuntos se tornem imutáveis (similar as tuplas e strings). Isso permite um processamento computacional de forma mais eficiente.

In [1]:
fs = frozenset({12,5,3,23})
print(fs, type(fs))


print(frozenset())

frozenset({3, 12, 5, 23}) <class 'frozenset'>
frozenset()

Basicamente, os mesmos métodos que vimos para classe conjuntos pode ser aplicado para os conjuntos congelados.